.popup{
  top:4em;
  position: absolute;
  height: 8em;
  background-color: white;
  text-align: left;
  line-height: 2em;
  box-shadow: 1px 1px 2px 0px gray;
}
.popup_hide{
  display: none;
}
.popup__exec{
  padding-left: 0.5em;
  padding-top: 0.5em;
  cursor: pointer;
}
.popup__exec:hover{
  color: var(--button-color1);
}
.popup__copy{
  padding-left: 0.5em;
  cursor: pointer;
}
.popup__copy:hover{
  background-color: blue;
}
.popup__delete{
  padding-left: 0.5em;
  cursor: pointer;
}
.popup__delete:hover{
  background-color: red;
}
